@import '~tachyons/css/tachyons.min.css';

.control-panel > .border {
	border:1px black solid;
}

.display-panel > .border {
	border:1px black solid;
}

.display-panel .pin {
	stroke:black;
	stroke-width: 3px;
	stroke-linecap:round;
}

.display-panel .patch {
	stroke-width: 0.5px;
}